In [67]:
import mvp
import pandas as pd
import numpy as np
import datetime as dt
DB_PATH = '/home/naga/FintelligenceData/MetaTrader_M1.db'
petr3_raw = mvp.rawdata.RawData('PETR3',DB_PATH)
parameters = {'ModelParameters':{'MA':[500,1000]}, 'OperationParameters':{'SL': 0.01, 'TP': 0.01, 'IH': 1000}}
model = mvp.primary.PrimaryModel(petr3_raw,'crossing-MA',parameters)

In [68]:
horizon_sample = model.labels_standard(model.events_crossing_MA())

In [70]:
model.events_crossing_MA()

DateTime
2015-12-04 15:00:00    1.0
2015-12-09 13:26:00   -1.0
2015-12-11 12:14:00    1.0
2015-12-15 14:36:00   -1.0
2015-12-18 11:58:00    1.0
                      ...
2020-11-19 14:48:00    1.0
2020-11-20 16:08:00   -1.0
2020-11-26 10:52:00    1.0
2020-11-27 16:31:00   -1.0
2020-11-30 14:00:00    1.0
Name: Delta, Length: 591, dtype: float64

In [8]:
losses = horizon_sample[horizon_sample['Close'].lt(horizon_sample.iloc[0]['Close'] - 0.01)]

In [9]:
profits = horizon_sample[horizon_sample['Close'].gt(horizon_sample.iloc[0]['Close'] + 0.01)]

In [11]:
losses.iloc[0]

DateTime    2015-12-09 13:28:00
Close                      9.26
Name: 2, dtype: object

In [13]:
profits.iloc[0]

DateTime    2015-12-09 13:30:00
Close                       9.3
Name: 4, dtype: object

In [27]:
losses.iloc[1]['DateTime'] > profits.iloc[0]['DateTime']

False

In [28]:
losses.head(4)

              DateTime  Close
2  2015-12-09 13:28:00   9.26
3  2015-12-09 13:29:00   9.19
11 2015-12-09 13:37:00   9.26
12 2015-12-09 13:38:00   9.25

In [61]:
profit_touch = profits.iloc[0]['DateTime']

In [42]:
def labels(touches):
    if touches[0] == touches[1]:
        return 0
    else:
        if touches[0] < touches[1]:
            return 1
        else:
            return -1

In [65]:
touches = list(map(lambda x: dt.datetime(3000,1,1,0,0,0) if x == None else x,[profit_touch, None]))

In [66]:
touches

[Timestamp('2015-12-09 13:30:00'), datetime.datetime(3000, 1, 1, 0, 0)]

In [53]:
touches

[Timestamp('2015-12-09 13:30:00'), Timestamp('2015-12-09 13:28:00')]