In [12]:
import curated, rawdata, primary 
import pandas as pd
import numpy as np
import datetime as dt
DB_PATH = '/home/naga/FintelligenceData/MetaTrader_M1.db'
petr3_raw = rawdata.RawData('PETR3',DB_PATH)
parameters = {'ModelParameters':{'MA':[500,1000]}, 'OperationParameters':{'SL': 0.01, 'TP': 0.08, 'IH': 3}}
model = primary.PrimaryModel(petr3_raw,'crossing-MA',parameters)

In [13]:
labels = model.event_labels(model.events_crossing_MA())
good_trades = np.count_nonzero(np.array(labels) == 1)
bad_trades = np.count_nonzero(np.array(labels) == -1)
neutral_trades = np.count_nonzero(np.array(labels) == 0)
print('Accuracy: ' + str(good_trades/(len(labels))))

Accuracy: 0.17766497461928935

In [15]:
labeled_events = model.events_crossing_MA()
labeled_events['Label'] = np.array(labels)
labeled_events

               DateTime  Delta  Label
0   2015-12-04 15:00:00    1.0   -1.0
1   2015-12-09 13:26:00   -1.0    1.0
2   2015-12-11 12:14:00    1.0   -1.0
3   2015-12-15 14:36:00   -1.0    0.0
4   2015-12-18 11:58:00    1.0    0.0
..                  ...    ...    ...
586 2020-11-19 14:48:00    1.0    0.0
587 2020-11-20 16:08:00   -1.0    1.0
588 2020-11-26 10:52:00    1.0   -1.0
589 2020-11-27 16:31:00   -1.0    0.0
590 2020-11-30 14:00:00    1.0   -1.0

[591 rows x 3 columns]